# dependencies
# node_modules - 存放项目依赖的模块文件夹
/node_modules

# VS Code历史记录文件夹
.history/

# Next.js构建输出目录
/.next/
/out/

# 日志文件目录
/logs/


/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# local env files
.env*.local
# vercel
.vercel
# typescript
*.tsbuildinfo
next-env.d.ts

# 本地数据文件
/data